<a href="https://colab.research.google.com/github/ashis003/Machine-Learning/blob/main/Read_Write_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [33]:
myDatasets = {
    'Name' : ['Mamma','Ashis','Surya','Bisso','Buchi','Ishmita'],
    'Roll no' : [17,16,1,3,7,5],
    'Fab_Subjects' : ['Hindi','Math','English','Science','Sanskrit','Arts'],
    'Marks' : [90,95,89,87,88,92]
}
df=pd.DataFrame(myDatasets)
df

      Name  Roll no Fab_Subjects  Marks
0    Mamma       17        Hindi     90
1    Ashis       16         Math     95
2    Surya        1      English     89
3    Bisso        3      Science     87
4    Buchi        7     Sanskrit     88
5  Ishmita        5         Arts     92

In [35]:
df.to_csv('realDatasets.csv')

In [36]:
df=pd.read_csv('realDatasets.csv')
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [37]:
df

      Name  Roll no Fab_Subjects  Marks
0    Mamma       17        Hindi     90
1    Ashis       16         Math     95
2    Surya        1      English     89
3    Bisso        3      Science     87
4    Buchi        7     Sanskrit     88
5  Ishmita        5         Arts     92

In [8]:
df.to_csv('newDatasets.csv')

In [15]:
df=pd.read_csv('newDatasets.csv',na_values={
    'Roll no' : [-1],
    'Fab_Subjects' : ['not available'],
    'Marks' : [-10]
})
df

   Unnamed: 0     Name  Roll no Fab_Subjects  Marks
0           0    Mamma     17.0        Hindi   90.0
1           1    Ashis     16.0         Math   95.0
2           2    Surya      1.0      English   89.0
3           3    Bisso      NaN      Science   87.0
4           4    Buchi      7.0     Sanskrit    NaN
5           5  Ishmita      5.0          NaN   92.0

In [25]:
df.to_csv('nwDatasets.csv',index=False)
df.drop(['Unnamed: 0'], axis=1,inplace=True)

In [23]:

df=pd.read_csv('nwDatasets.csv')
df.drop(['Unnamed: 0'], axis=1)

      Name  Roll no Fab_Subjects  Marks
0    Mamma     17.0        Hindi   90.0
1    Ashis     16.0         Math   95.0
2    Surya      1.0      English   89.0
3    Bisso      NaN      Science   87.0
4    Buchi      7.0     Sanskrit    NaN
5  Ishmita      5.0          NaN   92.0

In [26]:
df

      Name  Roll no Fab_Subjects  Marks
0    Mamma     17.0        Hindi   90.0
1    Ashis     16.0         Math   95.0
2    Surya      1.0      English   89.0
3    Bisso      NaN      Science   87.0
4    Buchi      7.0     Sanskrit    NaN
5  Ishmita      5.0          NaN   92.0